body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 1fr 0.5fr;
    grid-template-areas: 
    'header header header header'
    'overlay overlay overlay overlay'
    'workxp workxp workxp workxp'
    'skillstint skillstint skillstint skillstint';
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;  
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    grid-area: header;
}

nav{
    display: flex;
    font-size: 18px;
    gap: 20px;
    align-items: center;
}

button{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5%;
    
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited{
    color: rgb(255, 255, 255);
}