
body{
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
    min-width: 809px;
    

}

h2{
    font-size: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;  
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
}

nav{
    display: flex;
    font-size: 18px;
    gap: 20px;
    align-items: center;
}

button{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5%;
    
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited{
    color: rgb(255, 255, 255);
}







#overlay{
    color: white;
    letter-spacing: 0.1em;
    font-size: 20px;
    background-image: url('images/code2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    
}

main{
    min-height: 100vh;
    position: relative;
    z-index: 2;
}
main:before {
    content: '';
    z-index: 1;
    display: block;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
}


.flexitem{
    max-width: 50%;
    flex-shrink: 1;
}


#personal-profile{
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

#image1 {
    height: 500px;
    align-items: center;
    left: 50px;
    min-width: 500px;
    max-height: auto;
    width:45%;
    max-width: 40%;
    border: 2px solid white;
    flex-shrink: 1;
    
}



#image2 {
    height: 500px;
    align-items: center;
    left: 50px;
    min-width: 500px;
    max-height: auto;
    width:45%;
    max-width: 40%;
    border: 2px solid white;
    
}

/*For smaller screens*/
@media (max-width: 1152px) {

    #personal-profile{
        margin-left: 3%;
        margin-right: 3%;
        max-width: 100%;
    }

    #statement{
        max-width: 100%;
    }

    .flexitem{
        max-width: 100%;
    }
}


@media  (max-width: 903px) {

    header{
        height: 200px;
    }
    .flexitem{
        max-width: 100%;
        flex-shrink: 1;
    }

    #image1{
        max-width: 100%;
        padding: 0%;
        height: auto;
    }

    #image2{
        max-width: 100%;
        padding: 0%;
        height: auto;
    }

    nav{
        font-size: 500px;
        
    }
    
    button{
        background-color: rgb(0, 0, 0);
        padding: 15px;
        font-size: 20px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 5%;
    }
}

@media (max-width: 1077px) {
    #profxp h2{
        text-align: center;
    }
}


#projects{
    position: relative;
    z-index: 1;
    padding: 5%;
    padding-bottom: 1%;
}

#projects ul{
    width: 100%;
}


#projects span{
    font-family: 'Handjet', cursive;
    font-size: 25px;
    letter-spacing: 5px;
}

#workxp{
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



#workxp button{
    color: rgb(0, 0, 0);
    background-color: white;
    border: none;
    border-radius: 0;
    max-width:100%;
    text-align: left;
    margin-bottom: 10px;
}

#profxp{
    padding-left: 5%;
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
}

#jobs {
    display: block;
    
}

#aclist, #vmlist, #xblist, #jrllist {
    display: none;
}



#wxp1, #wxp2, #wxp3, #wxp4 {
    color: red;
    height: 100%;
    margin: 0;
}

.wxpbutton{
    width: 100%;
}

#wxp1:hover, #wxp2:hover, #wxp3:hover, #wxp4:hover {
    background-color: red;
    color: white;
    height: 100%;
    margin: 0;
    cursor: pointer;
}



#skillstint{
    grid-area: skillstint;
}

#skills{
    color: white;
    position: relative;
    background-size: contain;
    height: 100%;
    width: auto;
}

#skills-images {
    
    height: 100px;
    display: flex;
    position: relative;
    z-index: 2;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#skills h2{
    padding-left: 5%;
    position: relative;
    z-index: 2;
}

#skills img{
    background-color: rgb(255, 255, 255);
    border: 1px solid #fffdfd;
    padding: 10px;
    border-radius: 25%;
    height: 100px;
    
}


#bodycontact{
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(255, 0, 0);
    padding-left: 5%;
    padding-top: 3%;
}

#contact {
    color: white;
    padding: 5%;
    padding-top: 2%;
    font-family: 'Nunito Sans', sans-serif;
}

#contactlinks {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


